{% extends 'base.html' %}

{% block title %}
Dashboard | Tution Tracker
{% endblock title %}

{% block content %}

<div class="container mt-5">
    
    <div class="row">
        
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Dashboard</h1>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-dark">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
        
        
    <p>{{ user.username | default:"Guest" }}</p>
            <div class="row row-cols-2 mt-5">
                {% for class in class_list %}
                    <div class="col"><a class="btn btn-dark w-100 mb-2" href="#">{{class}}</a></div>
                {% endfor %}
            </div>
            
        </div>
        <div class="col-md-4">    </div>
    </div>
</div>

</div>

        
{% endblock content %}