{% extends 'base.html' %} 
{% block title %} 
Student Detail | Tution Tracker
{%endblock title %} 

{% block content %}
<div class="container">
 	<div class="row mt-3">
    	<div class="col-md-4">
			<div class="card shadow">
            	<div class="card-body">
					<div class="m-2 h3">
						{{ student.name }}
					</div>
					<table class="table">
						<tr>
							<td class="fw-bold">Class: </td>
							<td>{{ student.class_name }}</td>
						</tr>
						<tr>
							<td class="fw-bold">Joining date: </td>
							<td>{{ student.joining_date }}</td>
						</tr>
						<tr>
							<td class="fw-bold">Contact:</td>
							<td>{{ student.contact_no }}</td>
						</tr>
						<tr>
							<td class="fw-bold">School:</td>
							<td>{{ student.school }}</td>
						</tr>

					</table>
				</div>
          	</div>
			<div class="card shadow my-3">
                <div class="card-body">
					<form method="POST">
						{% csrf_token %}
						<div class="mb-3">
							<label for="payment_date" class="form-label"><strong>Date of payment</strong></label>
							<input type="date" id="payment_date" name="payment_date" class="form-control" required>
						</div>
						<div class="mb-3">
							<label for="fees" class="form-label"><strong>Enter Fees</strong></label>
							<input type="number" id="fees" name="amount" class="form-control" required>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-dark w-100">Submit</button>
						</div>
					</form>
				</div>
            </div>
		</div>
    	<div class="col-md-6">       
      		<div class="card shadow">
				<div class="card-body">
					<h3>Fees history</h3>
					<table class="table">
						<tr>
							<th>Date</th>
							<th>Amount</th> 
						</tr>
						{% for fee in student.fees.all %}
						<tr>
							<td>{{ fee.date_of_payment }}</td>
							<td>₹ {{ fee.amount_paid }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
      
   		</div>

  	</div>
</div>
{% endblock content %}
